.user-page {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-div {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.user-data {
  flex-basis: 30%;
  height: 23vh;
  border-radius: 1px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-data img {
  flex-basis: 30%;
  height: 19vh;
  width: 19vh;
  border-radius: 2px;
}

.info {
  height: 100%;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pagination {
  display: flex;
  margin-top: 1rem;
}

.pagination button {
  width: 5rem;
  height: 2rem;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-inline-end: 1rem;
  border-radius: 1px;
  border-style: none;
  cursor: pointer;
  background-color: var(--secondary-color);
}

@media (max-width: 750px){
  .user-page{
    height: max-content;
  }

  .data-div{
    height: max-content;
  }

  .user-data{
    flex-basis: 90%;
    margin-top: 1rem;
  }

  .pagination{
    margin-bottom: 1rem;
  }
}
